<section class="Main">
  <div class="containerMain">
    <div class="containerMain__logo">
      <figure><img src="assets/logo.svg" alt="footerImage" /></figure>
    </div>
    <div class="containerMain__TextPara">
      <h1>We are launching <strong>soon!</strong></h1>
      <p>Subscribe and get notified</p>
    </div>
    <div class="containerMain__formSub">
      <form action="">
        <input type="email" /><input type="submit" value="Notify Me" />
      </form>
    </div>
    <div class="containerMain__footerImage">
      <figure><img src="../../../assets/illustration-dashboard.png" alt="footerImage" /></figure>
    </div>
    <div class="containerMain__socialMedia">
      <div class="containerMain__socialMedia--socialIcons">
        <input type="image" src="" alt="botonRedSocial" />
        <input type="image" src="" alt="botonRedSocial" />
        <input type="image" src="" alt="botonRedSocial" />
      </div>
      <p>&copy; Copyright Ping. All rights reserved.</p>
    </div>
  </div>
</section>
