<section class="Main">
 <div class="containerMain">
  <div class="containerMain__logo">
    <figure><img src="" alt="footerImage" /></figure>
  </div>
  <div class="containerMain__TextPara">
    <h1>titulo</h1>
    <p>texto</p>
  </div>
  <div class="containerMain__formSub">formulario</div>
  <div class="containerMain__footerImage">
    <figure><img src="" alt="footerImage" /></figure>
  </div>
  <div class="containerMain__socialMedia">
    <div class="containerMain__socialMedia--socialIcons">
      <input type="image" src="" alt="botonRedSocial" />
      <input type="image" src="" alt="botonRedSocial" />
      <input type="image" src="" alt="botonRedSocial" />
    </div>
    <p>parafo final</p>
  </div>
</div>
</section>
