@import '../../../styles'
.Main
 width: 100%
 height: 100vh
 display: grid
 grid-template-columns: 1fr
 grid-template-rows: 1fr
 align-items: center
 justify-items: center

.containerMain
 display: grid
 grid-template-columns: 1fr
 grid-template-rows: repeat(5, auto)
 gap: 30px 0
 width: 300px
 height: auto
 &__logo
  figure
   display: flex
   justify-content: center
 &__TextPara
  display: flex
  flex-direction: column
  gap: 20px 0
  h1,p
   text-align: center
   font-weight: normal      
  h1
    color: $Gray
    font-size: $Fontsize
    font-weight: 300
  p
    font-size: 12px
  strong
    color: #000
 &__formSub
  form
   display: flex
   flex-direction: column
   gap: 10px 0      
   input
    padding: 15px 20px
    border-radius: 40px
   input[type="submit"]
    background: $Blue
    border: none
    color: #fff
    font-weight: 600
   input[type="email"]
    border: 1px solid $Gray
    outline: none
    &::placeholder
      margin: 0 20px
      color: $Gray
 &__footerImage
  figure
   img
    width: 100%
    height: 100%
 &__socialMedia
  display: flex
  flex-direction: column
  align-items: center
  gap: 50px 0
  p
   text-align: center
   color: $Gray
   font-size: 10px
   font-weight: 300
  &--socialIcons
    width: 50%
    display: flex
    flex-direction: row
    justify-content: space-around
    input[type="image"]
      width: 20px

.errorForm
  input[type="email"]
    border: 1px solid red
.errorMessage
  color: red 
  padding: 20px
@media screen and ( min-width: 1024px )
 .containerMain
  width: 700px
  &__formSub
   form
    flex-direction: row
    justify-content: center
    gap: 0 20px   
    input[type="submit"]
      flex: 1 
    input[type="email"]
      flex: 3 
  &__TextPara
  &__socialMedia
    &--socialIcons
      width: 20%
    
