<section class="Main">
  <div class="containerMain">
    <div class="containerMain__logo">
      <figure><img src="assets/logo.svg" alt="footerImage" /></figure>
    </div>
    <div class="containerMain__TextPara">
      <h1>
        We are launching
        <strong class="containerMain__TextPara--Soon">soon!</strong>
      </h1>
      <p>Subscribe and get notified</p>
    </div>
    <div class="containerMain__formSub">
      <form action="" [formGroup]="formPing" (ngSubmit)="submitForm()">
        <div>
          <input
            formControlName="email"
            type="email"
            placeholder="Your email address..."
            [ngClass]="{ errorForm: formError }"
          />
          <p *ngIf="formError" class="errorMessage">mensaje error</p>
        </div>
        <div>
          <input type="submit" value="Notify Me" />
        </div>
      </form>
    </div>
    <div class="containerMain__footerImage">
      <figure>
        <img
          src="../../../assets/illustration-dashboard.png"
          alt="footerImage"
        />
      </figure>
    </div>
    <div class="containerMain__socialMedia">
      <div class="containerMain__socialMedia--socialIcons">
        <input
          type="image"
          src="../../../assets/icons8-facebook.svg"
          alt="botonRedSocial"
        />
        <input
          type="image"
          src="../../../assets/icons8-twitter.svg"
          alt="botonRedSocial"
        />
        <input
          type="image"
          src="../../../assets/icons8-instagram.svg"
          alt="botonRedSocial"
        />
      </div>
      <p>&copy; Copyright Ping. All rights reserved.</p>
    </div>
  </div>
</section>
